# Practical 1
#### Perform following Data Pre-processing tasks in Python using Scikit-learn.
standardization, normalization, encoding, discretization, imputation of
missing values.

In [55]:
# Import data and take a look
import numpy as np
import pandas as pd

def printmd(string):
    display(Markdown(string))
    
column_names = ['age', 'workclass', 'fnlwgt', 'education', 'educational-num','marital-status', 'occupation', 'relationship', 'race', 'gender','capital-gain', 'capital-loss', 'hours-per-week', 'native-country','income']
df = pd.read_csv('adult.csv', na_values=['#NAME?'], names = column_names)
df.head()

   age          workclass  fnlwgt  ... hours-per-week  native-country  income
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

In [56]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1   workclass        32561 non-null  object
 2   fnlwgt           32561 non-null  int64
 3   education        32561 non-null  object
 4   educational-num  32561 non-null  int64
 5   marital-status   32561 non-null  object
 6   occupation       32561 non-null  object
 7   relationship     32561 non-null  object
 8   race             32561 non-null  object
 9   gender           32561 non-null  object
 10  capital-gain     32561 non-null  int64
 11  capital-loss     32561 non-null  int64
 12  hours-per-week   32561 non-null  int64
 13  native-country   32561 non-null  object
 14  income           32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [57]:
df.shape

(32561, 15)

In [58]:
df.describe()

                age        fnlwgt  ...  capital-loss  hours-per-week
count  32561.000000  3.256100e+04  ...  32561.000000    32561.000000
mean      38.581647  1.897784e+05  ...     87.303830       40.437456
std       13.640433  1.055500e+05  ...    402.960219       12.347429
min       17.000000  1.228500e+04  ...      0.000000        1.000000
25%       28.000000  1.178270e+05  ...      0.000000       40.000000
50%       37.000000  1.783560e+05  ...      0.000000       40.000000
75%       48.000000  2.370510e+05  ...      0.000000       45.000000
max       90.000000  1.484705e+06  ...   4356.000000       99.000000

[8 rows x 6 columns]

In [59]:
# print unique categorical values
for col_name in df.columns:
    if df[col_name].dtypes == 'object':
        unique_cat = len(df[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'workclass' has 9 unique categories
Feature 'education' has 16 unique categories
Feature 'marital-status' has 7 unique categories
Feature 'occupation' has 15 unique categories
Feature 'relationship' has 6 unique categories
Feature 'race' has 5 unique categories
Feature 'gender' has 2 unique categories
Feature 'native-country' has 42 unique categories
Feature 'income' has 2 unique categories

## Missing Value

In [60]:
# Missing values
for i,j in zip(df.columns,(df.values.astype(str) == ' ?').sum(axis = 0)):
    if j > 0:
      print(str(i) + ': ' + str(j) + ' records')

workclass: 1836 records
occupation: 1843 records
native-country: 583 records

In [61]:
# replace ? with null
df.replace(' ?', np.nan, inplace=True)

# print the count of null values
df.isnull().sum().sort_values(ascending=False).head()

occupation        1843
workclass         1836
native-country     583
income               0
hours-per-week       0
dtype: int64

In [62]:
# replace null valur with mean
df = df.fillna(df.mean())
df = df.apply(lambda x:x.fillna(x.value_counts().index[0]))

# null count after replacing NaN values with mean missing values
df.isnull().sum().sort_values(ascending=False).head()

income            0
native-country    0
hours-per-week    0
capital-loss      0
capital-gain      0
dtype: int64

## One hot encoding

In [63]:
pd.get_dummies(df['education']).head(5)

    10th   11th   12th  ...   Preschool   Prof-school   Some-college
0      0      0      0  ...           0             0              0
1      0      0      0  ...           0             0              0
2      0      0      0  ...           0             0              0
3      0      1      0  ...           0             0              0
4      0      0      0  ...           0             0              0

[5 rows x 16 columns]

In [64]:
#'native_country' has a lot of unique categories, most categories only have a few observations
print(df['native-country'].value_counts().sort_values(ascending=False).head(10))

 United-States    29753
 Mexico             643
 Philippines        198
 Germany            137
 Canada             121
 Puerto-Rico        114
 El-Salvador        106
 India              100
 Cuba                95
 England             90
Name: native-country, dtype: int64

In [65]:
# In this case, we can take low frequecy categories as "Other"
df['native-country'] = ['United-State' if x == " United-States" else "Other" for x in df['native-country']]

print(df['native-country'].value_counts().sort_values(ascending=False))

United-State    29753
Other            2808
Name: native-country, dtype: int64

In [66]:
df['income'] = [0 if x == ' <=50K' else 1 for x in df['income']]

In [67]:
# Create a list of features to dummy
category_val_List = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country']

# Function to dummy all the categorical variables used for modeling
def dummy_df(df, todummy_list):
    for x in todummy_list:
        dummies = pd.get_dummies(df[x], prefix=x, dummy_na=False)
        df = df.drop(x, 1)
        df = pd.concat([df, dummies], axis=1)
    return df

In [68]:
X = dummy_df(df, category_val_List)
X.head()

   age  fnlwgt  ...  native-country_Other  native-country_United-State
0   39   77516  ...                     0                            1
1   50   83311  ...                     0                            1
2   38  215646  ...                     0                            1
3   53  234721  ...                     0                            1
4   28  338409  ...                     1                            0

[5 rows x 67 columns]

In [69]:
# print unique categorical values
for col_name in X.columns:
    if X[col_name].dtypes == 'object':
        unique_cat = len(df[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

## Standardization

In [70]:
X.head()

   age  fnlwgt  ...  native-country_Other  native-country_United-State
0   39   77516  ...                     0                            1
1   50   83311  ...                     0                            1
2   38  215646  ...                     0                            1
3   53  234721  ...                     0                            1
4   28  338409  ...                     1                            0

[5 rows x 67 columns]

In [71]:
from sklearn import preprocessing
stand = preprocessing.StandardScaler().fit(X)
data_s = stand.transform(X)
data_stan = pd.DataFrame(data_s, columns = X.columns)
data_stan.head()

        age    fnlwgt  ...  native-country_Other  native-country_United-State
0  0.030671 -1.063611  ...             -0.307208                     0.307208
1  0.837109 -1.008707  ...             -0.307208                     0.307208
2 -0.042642  0.245079  ...             -0.307208                     0.307208
3  1.057047  0.425801  ...             -0.307208                     0.307208
4 -0.775768  1.408176  ...              3.255119                    -3.255119

[5 rows x 67 columns]

## Normalization

In [72]:
X.head()

   age  fnlwgt  ...  native-country_Other  native-country_United-State
0   39   77516  ...                     0                            1
1   50   83311  ...                     0                            1
2   38  215646  ...                     0                            1
3   53  234721  ...                     0                            1
4   28  338409  ...                     1                            0

[5 rows x 67 columns]

In [73]:
from sklearn import preprocessing
norm = preprocessing.Normalizer()
data_n = norm.fit_transform(X)
data_norm= pd.DataFrame(data_n, columns = X.columns)
data_norm.head()

        age    fnlwgt  ...  native-country_Other  native-country_United-State
0  0.000503  0.999607  ...              0.000000                     0.000013
1  0.000600  1.000000  ...              0.000000                     0.000012
2  0.000176  1.000000  ...              0.000000                     0.000005
3  0.000226  1.000000  ...              0.000000                     0.000004
4  0.000083  1.000000  ...              0.000003                     0.000000

[5 rows x 67 columns]